.wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    flex-direction: column;
    background: #f2f2f2;
}

.wrap h1{
    align-self:flex-start;
    margin: 30px 140px;
}

.media{
   display: grid;
   grid-template-columns:repeat(auto-fit, minmax(200px, 1fr));
   width: 80%;
   grid-gap:2em;
   place-content: center;
}

