.wrap{
    
}


.market{
    display: flex;
    margin: 40px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
 
}


.markettext{
    max-width: 500px;
    text-align: center;
    margin: 40px 0;
}

.marketimg{

}